<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Answers', question_answers_path(@question) %> |
<%= link_to 'Audit', question_audits_path(@question) %> |
<%= link_to 'Back', election_questions_path(@question.election) %>